@using ILoveKFC.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KFC</title>

    <link rel="icon" type="image/x-icon" href="~/Assets/logo_kfc.png">
    @* CDN font *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    @* Fontawesome Icon *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @* Boottrap 5 *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @* CSS *@
    <link href="~/Asset/css/LayoutPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Asset/css/item.css">
    <link rel="stylesheet" href="~/Asset/css/product.css">
    <link rel="stylesheet" href="~/Asset/css/inputCss.css">
    <link rel="stylesheet" href="~/Asset/css/dangnhap.css">
</head>
<body>
    @*++++++++++++++PopUp Form*@
    @{ if (Session["User"] == null)
        {
            using (Html.BeginForm("DangNhap", "Main"))
            {
                @Html.AntiForgeryToken()
                <div class="fancy-box ">

                    <div class="popup">
                        <div class="kesoc pc">
                            <div class="kesoc__item"></div>
                            <div class="kesoc__item"></div>
                            <div class="kesoc__item"></div>
                            <div class="kesoc__item"></div>
                            <div class="kesoc__item"></div>
                            <div class="kesoc__item"></div>
                            <div class="kesoc__item"></div>
                            <div class="kesoc__item"></div>
                            <div class="kesoc__item"></div>
                        </div>
                        <div class="popup__close">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <h5 class="mt-4 text-center"><span>Đăng nhập</span></h5>
                        <form action="" id="frmLogin">
                            <input type="hidden" name="csrf_site_name" />
                            <div>
                                <div class="page">
                                    <label class="field field_v1">
                                        <input class="field__input" name="txtUsername" placeholder="Username">
                                        <span class="field__label-wrap">
                                            <span class="field__label">Username</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            @*<p class="text_red">@ViewData["errUsername"]</p>*@
                            <div>
                                <div class="page">
                                    <label class="field field_v1">
                                        <input class="field__input" name="txtPassword" placeholder="Password" type="password">
                                        <span class="field__label-wrap">
                                            <span class="field__label">Password</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            @*<p class="text_red">@ViewData["errPass"]</p>*@
                            <div class="info">
                                <div class="info_item">
                                    <input type="checkbox" id="rememberMe" name="remember" class="custom-control-input">
                                    <label class="custom-control-label text-body" for="rememberMe">Ghi nhớ tài khoản</label>
                                </div>
                                <div class="info_item">
                                    <a href="#">Quên Mật Khẩu</a>
                                </div>
                            </div>
                            <div class="form-label-group mt-4 mb-0">
                                <button type="submit" class="btn btn-danger"><span class="text-uppercase text-white">Đăng nhập</span></button>
                            </div>
                            <div style="text-align: center;margin:10px 0;">
                                <span>Hoặc đăng nhập bằng tài khoản mạng xã hội</span>
                            </div>
                            <div class="clearfix login_with_socical m-auto pt-1">
                                <a href="#" class="btn btn-primary btn_nhut "><img src="https://kfcvietnam.com.vn/templates/images/icon_facebook.png" /><span class="text-white">Đăng nhập bằng Facebook</span></a>
                                <a href="#" class="btn btn-light btn_nhut"><img src="https://kfcvietnam.com.vn/templates/images/icon_google.png" /><span>Đăng nhập bằng Google</span></a>
                            </div>
                            <p class="text-center">
                                Bạn chưa có tài khoản KFC?
                                <a href="@Url.Action("DangKy","Main")" class=""><u><strong>Đăng ký ngay</strong></u></a>
                            </p>
                        </form>

                    </div>
                </div>
            }
        }
    }

    <div id="background__page">
        <div class="wrapper">
            <div class="kesoc pc">
                <div class="kesoc__item"></div>
                <div class="kesoc__item"></div>
                <div class="kesoc__item"></div>
                <div class="kesoc__item"></div>
                <div class="kesoc__item"></div>
                <div class="kesoc__item"></div>
                <div class="kesoc__item"></div>
                <div class="kesoc__item"></div>
                <div class="kesoc__item"></div>
            </div>
            <div class="header">
                <div class="header_logo">
                    <a href="@Url.Action("ShowProductByCategory","Product")"><img src="~/Asset/Image/logo_pc.png" /></a>
                </div>
                <div class="header_account">
                    @if (Session["User"] != null)
                    {
                        var kh = Session["User"] as CUSTOMER;
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                @kh.NAME_CUSTOMER
                            </button>
                            <ul class="dropdown-menu css_navbar" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="@Url.Action("DangXuat","Main")"><i class="fas fa-sign-out-alt"></i> Đăng Xuất</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("DoiMatKhau","Main",new {@makh=kh.ID_CUSTOMER })"><i class="fas fa-sync"></i>Đổi Mật Khẩu</a></li>

                            </ul>
                        </div>

                    }
                    else
                    {

                        <div class="header_account_register">
                            <a href="@Url.Action("DangKy","Main")">Đăng Ký </a>
                        </div>
                        <div class="header_account_login">
                            <p>Đăng Nhập</p>
                        </div>
                    }
                </div>
            </div>
            @*++++++++++++++NAVBAR*@
            @Html.Action("DMPartial_TOP", "Main")
            @RenderBody()
            @*+++++++++BODY*@
            <div class="content_wrapper">
                @{
                    @*//get Url For example,
                    //if the path is: https:/domain.com/subfolder/controller/action
                    //Then it will return : http:/domain.com/subfolder/
                    //For after base path you can use
                    //Request.Url.AbsolutePath //returns /subfolder/controller/action
                    //OR you can use

                            @RenderBody()
                        </div>
                    </div>
                }
                else
                {
                    @*++++++++++++CAROUSEL*@
                    @*<div>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/Asset/Image/BTLD.png" class="d-block w-100" style="height: 300px; width: 100%" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Asset/Image/combo-dinner.png" class="d-block w-100" style="height: 300px; width:100%" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Asset/Image/GaQueKem.png" class="d-block w-100" style="height: 300px; width: 100% " alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Asset/Image/KFC50.png" class="d-block w-100" style="height: 300px; width: 100% " alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="content">
                    <div class="row" style="background-color:white;padding-top:65px;margin:0">
                        <div class="col-lg-3 hide">
                            @Html.Action("DMPartial_BOT", "Main")
                        </div>
                        <div class="col-lg-9 col-sm-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>*@
                }
                }
            </div>
            @*+++++++++FOOTER*@
            <div class="footer">

                <div class="row mg_top_bot_15">
                    <div class="col-lg-6 col-md-12">
                        <a href="#"><img src="~/Img/footer1.png" style="width:100%" /></a>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <a href="#"><img src="~/Img/footer2.png" style="width: 100%;" /></a>
                    </div>
                </div>

                <div class="row mg_top_bot_15">
                    <div class="col-12" style="text-align:center">
                        <a href="#"><img src="~/Img/logo_footer_vi.png" /></a>
                    </div>
                </div>

                <div class="row mg_top_bot_15">
                    <div class="col-md-3">
                        <a href="#" style="font-weight: bold; text-decoration: none; color: black">THỰC ĐƠN</a><br />
                        <a href="#" style="font-weight: bold; text-decoration: none; color: black">NHÀ HÀNG</a><br />
                        <a href="#" style="font-weight: bold; text-decoration: none; color: black">TIN KHUYẾN MÃI</a><br />
                        <a href="#" style="font-weight: bold; text-decoration: none; color: black">ĐẶT TIỆC SINH NHẬT</a><br />
                        <a href="#" style="font-weight: bold; text-decoration: none; color: black">THÀNH VIÊN</a><br />
                    </div>
                    <div class="col-md-3">
                        <a href="#" style="font-weight: bold; text-decoration: none; color: black">GIỚI THIỆU</a><br />
                        <a href="#" style="text-decoration: none; color: black">KFC Việt Nam</a><br />
                        <a href="#" style="text-decoration: none; color: black">Tin tức</a><br />
                    </div>
                    <div class="col-md-3">
                        <a href="#" style="font-weight: bold; text-decoration: none; color: black">NGHỀ NGHIỆP</a><br />
                        <a href="#" style="text-decoration: none; color: black">Tuyển dụng</a><br />
                    </div>
                    <div class="col-md-3">
                        <a href="#" style="font-weight: bold; text-decoration: none; color: black">KẾT NỐI VỚI KFC</a><br />
                        <a href="#" style="text-decoration: none; color: black">Liên hệ</a><br />
                        <a href="#"><img src="~/Img/icon_fb_red.svg" style="width:20%" /></a>
                        <a href="#"><img src="~/Img/icon_ins_red.svg" style="width:20%" /></a>
                        <a href="#"><img src="~/Img/icon_yt_red.svg" style="width:20%" /></a>
                    </div>
                </div>
                <div class="row mg_top_bot_15">
                    <div class="col-lg-9 col-sm-6" style="text-align:left">
                        <p>
                            <a style="font-weight:bold">CÔNG TY LIÊN DOANH TNHH KFC VIỆT NAM</a>
                            <br />
                            Số 292 Bà Triệu, P. Lê Đại Hành, Q. Hai Bà Trưng, TP. Hà Nội.
                            <br />
                            Điện thoại: (028) 38489828
                            <br />
                            Email: lienhe@kfcvietnam.com.vn
                            <br />
                            Mã số thuế: 0100773885
                            <br />
                            Ngày cấp: 29/10/1998 - Nơi cấp: Cục Thuế Thành Phố Hà Nội
                        </p>
                    </div>
                    <div class="col-lg-3 col-sm-4">
                        <a href="#"><img src="~/Img/logo_boct.png" /></a>
                    </div>
                </div>
            </div>
            @*++++++++NÚT KÉO LÊN*@
            <button onclick="topFunction()" id="myBtn" title="Go to top">💖</button>
        </div>

    </div>

    <script src="~/Asset/JS/index.js"></script>b
</body>
</html>