@model IEnumerable<ILoveKFC.Models.Cart1>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutKFC.cshtml";
}

@* css here *@
<style>

    .cart__wrapper {
        padding: 36px 18px;
        margin: 0 0 18px;
        background-color: white;
    }

    .cart__title {
        position: relative;
        padding: 16px 0;
        margin: 0 0 20px;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }

        .cart__title::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: black;
        }

    .cart__title-none {
        font-size: 24px;
        text-align: left;
        color: #e4002b;
    }


    .cart__content {
        justify-content: center;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .cart__content-image {
        width: 500px;
        margin: 0 0 20px;
    }

    .cart__content-message {
        color: #707070;
        font-size: 18px;
        display: block;
        font-weight: 500;
    }

    .btn__OrderNow {
        background-color: #e4002b;
        width: 360px;
        height: 46px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 36px;
    }

    .list__cart {
        position: relative;
        padding: 0 0 40px;
    }

        .list__cart::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #707070;
        }


    .cart__item {
        position: relative;
        box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 8%);
        padding: 40px;
        margin-bottom: 40px;
    }

    .cart__item-control {
        position: absolute;
        top: 0;
        right: 0;
        margin: 40px 40px 0 0;
        display: flex;
        align-items: center;
    }

    .cart__control-delete,
    .cart__control-edit {
        padding-left: 10px;
        height: 30px;
        font-size: 20px;
        color: #707070;
    }

        .cart__control-delete i,
        .cart__control-edit i {
            padding-left: 10px;
            font-size: 20px;
            display: block;
        }

    .cart__item-title {
        font-size: 24px;
        padding-right: 90px;
        margin-bottom: 18px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .cart__item-describe {
        position: relative;
        padding: 0 0 18px 26px;
    }

        .cart__item-describe::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .5px;
            background-color: #707070;
        }

    .cart__item-info {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        padding-top: 26px;
    }

    .cart__item-change {
        display: flex;
        align-items: center;
    }

    .cart__change-decrease,
    .cart__change-increase {
        color: black;
        cursor: pointer;
    }

        .cart__change-decrease:hover,
        .cart__change-increase:hover {
            color: black;
        }

    .cart__item-price {
        font-size: 24px;
    }

    .cart__item-total {
        display: flex;
        align-items: center;
        font-weight: bold;
        justify-content: space-between;
    }

    .cart__total-count {
        font-size: 18px;
    }

    .cart__total-price {
        font-size: 24px;
    }

    .cart__pay {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 24px;
    }

    .cart__pay-totalPrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 26px;
    }

    .btn__payNow {
        background-color: #e4002b;
        height: 46px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 9px;
    }

    .btn__goToOrder {
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid #333;
        margin-top: 9px;
    }
</style>

@if (ViewBag.TongSL == 0)
{
    <div class="cart__wrapper">
        <h1 class="cart__title cart__title-none">
            GIỎ HÀNG CỦA BẠN
        </h1>
        <div class="cart__content">
            <img src="~/Assets/cart_empty_new.png" class="cart__content-image" />
            <p class="cart__content-message">
                Giỏ của bạn trống?
            </p>
            <p class="cart__content-message">Đặt hàng để thưởng thức công thức đặc biệt của KFC.</p>
            <a href="@Url.Action("ShowProductByCategory","Product")" class="btn btn__OrderNow">Đặt Hàng Ngay</a>
        </div>
    </div>
}
else
{
    <div class="cart__wrapper">
        <h1 class="cart__title ">
            GIỎ HÀNG CỦA BẠN
        </h1>
        <div class="cart__content">
            <div class="row w-100">
                <div class="col-sm-12 col-lg-8">
                    <ul class="list__cart">
                        @foreach (var item in Model)
                        {
                            <li class="cart__item">
                                <div class="cart__item-control">
                                    @*<a href="#" class="cart__control-edit"><i class="fa-solid fa-pen"></i></a>*@
                                    <a href="@Url.Action("DeleteCartByID", "Cart", new { @masp = item.sMasp })" class="cart__control-delete"><i class="fa-solid fa-xmark"></i></a>
                                </div>
                                <h3 class="cart__item-title">@item.sTensp</h3>
                                <ul class="cart__item-describe">
                                    @{
                                        string[] arrDes = @item.sDescribe.Split('/');
                                    }
                                    @foreach (string s in arrDes)
                                    {
                                        <li class="item_describe">@s</li>
                                    }
                                </ul>
                                <div class="cart__item-info">
                                    <div class="cart__item-change">
                                        <a href="@Url.Action("UpdateCart", "Cart", new { @masp = item.sMasp,@type="minus" })" class="cart__change-decrease"><i class="fa-solid fa-circle-minus"></i></a>
                                        <span style="padding:0 10px;">@item.iSoLuong</span>
                                        <a href="@Url.Action("UpdateCart", "Cart", new { @masp = item.sMasp,@type="plus" })" class="cart__change-increase"><i class="fa-solid fa-circle-plus"></i></a>
                                    </div>
                                    <div class="cart__item-price">
                                        @item.dThanhTien
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="cart__item-total">
                        <span class="cart__total-count">
                            @ViewBag.TongSL Món
                        </span>
                        <span class="cart__total-price">
                            @ViewBag.TongThanhTien
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="cart__pay">
                        <div class="cart__pay-totalPrice">
                            <span> Tổng Thanh Toán :</span>
                            <span style="color: #e4002b">
                                @ViewBag.TongThanhTien
                            </span>
                        </div>
                        <a href="@Url.Action("Pay", "Cart", new { @makh = ViewBag.makh })" class="btn btn__payNow">Thanh Toán</a>
                        <a href="@Url.Action("ShowProductByCategory","Product")" class="btn btn__goToOrder">Tiếp Tục Mua Hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

